################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/produire-vscode-extension-2019/FileContentIndex/c8eadbba-370c-4fab-a4e2-d4c548f0fccb.vsidx
